<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<p>New entries discovered on platform <%= @query_result.platform_id %> for query <%= @query_result.params %> at <%= @query_result.monitoring_actions.succeeded.last&.updated_at %>.</p>
  </body>
</html>

