<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<p><%= @new_entry_count %> new entries discovered on <%= @platform %> for query <%= @query_result.query.info %> at <%= @query_result.time %>.</p>
  </body>
</html>

